{% extends 'mfk.html' %}

{% block content %}


    <p class="title">

        <h1>{{ mfk.name }}</h1>
        <b>Факультет: {{ mfk.faculty }}</b>
        <br>{{ mfk.desc }}

    </p>



    <h2>Комментарии</h2>
    <ul class="list-comments">
        {% for m in my_comments %}
            <li>
                <p class="title">

                    {{m.name}}

                    <div class="comment_stars_background comment_container container">
                      <div class="comment_stars_background container__items">
                        {% for i in range(m.score|int) %}
                          <label class="comment_stars_background my_label" for="">
                            <div class="star-stroke">
                              <div class=""></div>
                            </div>
                          </label>
                        {% endfor %}
                      </div>
                    </div>


                <p class="annonce">{{m.username}}<br>{{ m.text }}</p>
            </li>
        {% endfor %}
    </ul>


    <form action="" method="post" class="form-contact">
        {{ form.hidden_tag() }}
        {{ form.text(rows=7, cols=40) }}
        <br>
        <div class="container_under_comment container">
          <div class="container__items">
            {% for subfield in form.score %}
              {{ subfield() }}
              <label style="margin-bottom: 0px;" class="my_label_under_comment my_label" for="{{ subfield.id }}">
                <div class="star-stroke">
                  <div class="star-fill"></div>
                </div>
                <!--<div class="label-description" data-content="{{ subfield.data }}">{{ subfield.data }}</div>-->
              </label>
            {% endfor %}
          </div>
        </div>



        <br><br>


        <div class="button_container">
            <div class="center">
<!--                {{ form.submit(class="btn", type="submit") }}-->
                <button class="btn" type="submit">
                    <span class="btn_span">Оставить оценку</span>
                </button>
            </div>
        </div>


        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}

    </form>

{% endblock %}

