{% extends 'index.html' %}

{% block content %}

    Если у вас возникли проблемы или у вас есть пожелания, можете написать разработчику.
    <p>

    <form action="/contacts" method="post" class="form-contact">
        {{ form.hidden_tag() }}
    {{ form.text(rows=7, cols=40) }}

    {{ form.recaptcha }}
        <p>
        <div class="button_container">
            <div class="center">
                <button class="btn" type="submit">
                    <span class="btn_span">Отправить</span>
                </button>
            </div>
        </div>


    </form>

    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
{% endblock %}