{% extends 'index.html' %}

{% block content %}
    В настоящее время не работает. Пишите на почту nagel2014@yandex.ru
    <form action="/contacts" method="post" class="form-contact">
        <p><label>Имя: </label> <input type="text" name="username" value="" requied />
        <p><label>Email: </label> <input type="text" name="email" value="" requied />
        <p><label>Сообщение:</label>
        <p><textarea name="message" rows=7 cols=40></textarea>
        <p>
        <div class="button_container">
            <div class="center">
                <button class="btn" type="submit">
                    <span class="btn_span">Оставить оценку</span>
                </button>
            </div>
        </div>


    </form>

    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
{% endblock %}