{% extends 'index.html' %}
 
{% block content %}

    <ul class="list-posts">
        {% for m in mfk_table %}
            <li>


                    <a  style="" class="my_a" href="{{ url_for('showMfk', alias=m.id)}}">
                        <h2 style="margin: 0px 0px 10px 0px;">{{m.name}}</h2>
                    </a>

                    {{m.desc[:350]}} ...

                    <br>

                    <div style="color: #adb5bd; border: 2px solid #ADD8E6; border-radius: 7px; padding: 5px; margin: 10px 5px 0px 0px; display: inline-block;">
                        <b>{{m.faculty}}</b>
                    </div>

            </li>
        {% endfor %}
    </ul>

{% endblock %}

