{% extends 'index.html' %}
 
{% block content %}


<!--        <ul style="border: 2px solid var(&#45;&#45;my-light-blue); border-radius: 10px; padding: 20px; width: 400px; margin: 0px; box-sizing: border-box;">-->
        <div class="filter-block">
            <h3 style="margin-top: 0px; text-align: center;">Фильтры / Поиск</h3>
            <form method="POST" action="/dict">
                <input class="search-input" placeholder="Введите запрос ..." name="search">
                <br>
                <div class="button_container">
                    <div class="center">
                        <button class="btn">
                            <span style="font-size: 14px;" class="btn_span">Найти</span>
                        </button>
                    </div>
                </div>
            </form>

            <a href="{{ url_for('dict')}}">
                <div style="margin-top: 7px;" class="button_container">
                    <div class="center">
                        <button class="btn">
                            <span style="font-size: 14px;" class="btn_span">Сбросить</span>
                        </button>
                    </div>
                </div>
            </a>
        </div>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <ul class="list-posts">
        {% for m in mfk_table %}
            <a style="" class="my_a" href="{{ url_for('showMfk', alias=m.id)}}">
                <li class="mfk_on_main_page">



                        <h2 style="margin: 0px 0px 10px 0px;">{{m.name}}</h2>


                        <div class="my_desc">{{m.desc[:350]}} ...</div>

                        <div style="color: var(--my-light-grey); border: 2px solid var(--my-2light-blue); border-radius: 7px; padding: 5px; margin: 10px 5px 0px 0px; display: inline-block;">
                            <b>{{m.faculty}}</b>
                        </div>

                        <div class="comment_stars_background comment_container container">
                          <div class="comment_stars_background container__items">
                            {% for i in range(m.score|int) %}
                              <label class="comment_stars_background my_label" for="">
                                <div class="star-stroke">
                                  <div class=""></div>
                                </div>
                              </label>
                            {% endfor %}
                          </div>
                        </div>
                    <input type="hidden" name="mfk_name" value="{{ m.mfkname }}" />
                    <p style="color: black; margin-bottom:-15px; margin-top:7px; ">
                        {% if m.score_numb == None %}
                            Количество оценок: 0
                        {% else %}
                            Количество оценок: {{ m.score_numb }}
                        {% endif %}

                    <p>
                </li>

            </a>
        {% endfor %}
    </ul>

{% endblock %}

