<!DOCTYPE html>
<html lang="en">
    <link type="text/css" href={{url_for('static', filename="css/style.css")}} rel="stylesheet" />

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MFK Stars</title>
        <link type="image/x-icon" rel="shortcut icon" href={{url_for('static', filename="png/favicon/favicon.ico")}}>



    </head>
    <body>




        <div class="menu" id="target">
            <div style="background: white;" class="my_logo">
                <img src={{url_for('static', filename="png/logo2_cut.png")}} alt="Logo is here"
                      width="550"
                      height="200"/>
            </div>
            {% for m in menu %}

                    <a href="{{m.url}}">
                        <div class="block">
                            {{m.title}}
                        </div>
                    </a>
            {% endfor %}
        </div>

        <nav>


          <div class="navbar">

            <div class="menu_container nav-container">

                {% if loginform %} 
                    <form action="" method="post">
                        {{ loginform.hidden_tag() }}
                        {{ loginform.csrf_token }}       
                        {{ loginform.submit( class="loginoutBTN1") }}    
                    </form>
                {% endif %}

                <div class="" onclick="toggleLeft()">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                      <span class="line line1"></span>
                      <span class="line line2"></span>
                      <span class="line line3"></span>
                    </div>
                </div>

                <div class="logo">

                </div>
                <!--<h1>Navbar</h1>-->
              </div>
            </div>
          </div>
        </nav>


        <div class="content">
            <h2>{{ my_text }}</h2>

            <hr>
            <div class="between_hr">
                {% block content %}
                        {{my_text}}
                {% endblock %}
            </div>
            <hr>
            <br>Вернуться на <a class="main_a" href="/dict">главную</a> страницу.
        </div>


    </body>

    <script>

        var clickCount = 0;

        function toggleLeft() {
            clickCount++;
            var targetDiv = document.getElementById("target");

            if (clickCount % 2 === 1) {
                targetDiv.style.left = "0%";
                targetDiv.classList.remove("hidden");
            }
            else {
                targetDiv.style.left = "-120%";
                targetDiv.classList.add("hidden");
            }
        }

    </script>
</html>