{% extends 'index.html' %}


{% block content %}
    <form action="" method="post" class="form-contact">
    {{ form.hidden_tag() }}

    {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
         <br>
        {{ field.label() }}
         {% if field.errors %}
                   {{ field(class="invalid") }}
         <span class="invalid-feedback">
                   {% for e in field.errors %}
                   {{ e }}
                   {% endfor %}
         </span>
         {% else %}
                   {{ field() }}
         {% endif %}

    {% endfor %}

        <br>{{ form.remember.label() }} {{ form.remember() }}
<!--        <br>{{ form.submit(class="my_btn") }}-->
        <div  style="margin-bottom: 5px;" class="button_container">
            <div class="center">
                <button class="btn" type="submit">
                    <span class="btn_span">Войти</span>
                </button>
            </div>
        </div>



    </form>

    <a href="{{url_for('register')}}">
      <div style="margin-bottom: 5px;" class="button_container">
        <div class="center">
          <button class="btn">
            <span style="font-size: 14px;" class="btn_span">Регистрация</span>
          </button>
        </div>
      </div>
    </a>

    <a class="my_a" href="{{ url_for('password_recovery')}}">
          <div class="button_container">
            <div class="center">
              <button class="btn">
                <span style="font-size: 14px;" class="btn_span">Восстановить пароль</span>
              </button>
            </div>
          </div>
    </a>
    <br>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
{% endblock %}
