{% extends 'index.html' %}


{% block content %}
    <form action="" method="post" class="form-contact">

        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
            {{ field.label() }}
             {% if field.errors %}
                   {{ field(class="invalid") }}
                 <span class="invalid-feedback">
                   {% for e in field.errors %}
                   {{ e }}
                   {% endfor %}
                 </span>
             {% else %}
                    {{ field() }}
             {% endif %}

        {% endfor %}

        {{ form.remember.label() }} {{ form.remember() }}

        <div style="margin-bottom: 5px;">
            {{ form.submit( class="common_btn") }}
        </div>


    </form>

    <a href="{{url_for('register')}}">
        <div style="margin-bottom: 5px;">
            <button class="common_btn">Регистрация</button>
        </div>

    </a>




    <a class="my_a" href="{{ url_for('password_recovery')}}">
      <div class="">
          <button class="common_btn">Восстановить пароль</button>
      </div>
    </a>
    <br>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
{% endblock %}
