{% extends 'index.html' %}

{% block content %}
здесь будет инфа по мфк <br>
    <br>{{ mfk.name }}


    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}

<br>
здесь комменты
<br>
    <h2>Комментарии</h2>
    <ul class="list-comments">
        {% for m in my_comments %}
            <li>
                <p class="title">

                    {{m.name}}

                    <div class="comment_stars_background comment_container container">
                      <div class="comment_stars_background container__items">
                        {% for i in range(m.score|int) %}
                          <label class="comment_stars_background my_label" for="">
                            <div class="star-stroke">
                              <div class=""></div>
                            </div>
                          </label>
                        {% endfor %}
                      </div>
                    </div>


                <p class="annonce">{{m.username}}<br>{{ m.text }}</p>
            </li>
        {% endfor %}
    </ul>
<br>
    <a class="my_a" href="{{ url_for('addComment', alias=alias)}}"><button class="my_btn">Добавить комментарий</button></a>


{% endblock %}

<!--    {{ post | safe}}-->

<!--    <form action="{{url_for('addPost')}}" method="post" class="form-contact">-->
