<!DOCTYPE html>
<html lang="en">
    <link type="text/css" href={{url_for('static', filename="css/style.css")}} rel="stylesheet" />

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MFK Stars</title>
    </head>
    <body style="overflow: hidden;">


        <div class="menu" id="target">

            {% for m in menu %}

                    <a href="{{m.url}}">
                        <div class="block">
                            {{m.title}}
                        </div>
                    </a>
            {% endfor %}
        </div>


        <nav>
          <div class="navbar">
            <div class="menu_container nav-container">
                <div class="" onclick="toggleLeft()">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                      <span class="line line1"></span>
                      <span class="line line2"></span>
                      <span class="line line3"></span>
                    </div>
                </div>
              <div class="logo">
                <!--<h1>Navbar</h1>-->
              </div>
            </div>
          </div>
        </nav>



        <div class="ask_content">
              <iframe class='my_iframe' src="https://docs.google.com/forms/d/e/1FAIpQLSe0ykFQitWYE7s8oiXxaE0pDUpa1UO33K1AY9IB-g9UiYWTVA/viewform?usp=pp_url&entry.2033361812={{ current_user.getEmail() }}">
              </iframe>


        </div>

    <script>

        var clickCount = 0;

        function toggleLeft() {
            clickCount++;
            var targetDiv = document.getElementById("target");

            if (clickCount % 2 === 1) {
                targetDiv.style.left = "0%";
                targetDiv.classList.remove("hidden");
            }
            else {
                targetDiv.style.left = "-120%";
                targetDiv.classList.add("hidden");
            }
        }

    </script>
    </body>
</html>


