<!DOCTYPE html>
<html lang="en">
    <link type="text/css" href={{url_for('static', filename="css/style.css")}} rel="stylesheet" />

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flask Dict</title>
    </head>
    <body style="overflow: hidden;">


        <div class="mainmenu header">
            {% for m in menu %}

                <a href="{{m.url}}">
                    <div class="block">
                        {{m.title}}
                    </div>
                </a>

            {% endfor %}
        </div>

        <div class="ask_content">
              <iframe class='my_iframe' src="https://docs.google.com/forms/d/e/1FAIpQLSe0ykFQitWYE7s8oiXxaE0pDUpa1UO33K1AY9IB-g9UiYWTVA/viewform?usp=pp_url&entry.2033361812={{ current_user.getEmail() }}">
              </iframe>


        </div>
        <script>
            var input = document.querySelector('input[jsname="YPqjbf"]');
                input.setAttribute('data-initial-value', '222');
        </script>

    </body>
</html>


