{% extends 'index.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

Вам был оправлен код подверждения на почту: {{ my_mail }}
<form action="/verify_recovery" method="post" class="form-contact">

    {{ form.hidden_tag() }}

    {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
        <br>
         {{ field.label() }}
         {% if field.errors %}
                   {{ field(class="invalid") }}
         <span class="invalid-feedback">
                   {% for e in field.errors %}
                   {{ e }}
                   {% endfor %}
         </span>
         {% else %}
                   {{ field() }}
         {% endif %}
    {% endfor %}

        <div  style="margin-bottom: 0px;" class="button_container">
        <div class="center">
            <button class="btn" type="submit">
                <span class="btn_span">Подтвердить</span>
            </button>
        </div>
    </div>


</form>
{% endblock %}