{% extends 'index.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

Вам был оправлен код подверждения на почту: {{ my_mail }}
<form action="/verify" method="post" class="form-contact">

                {{ form_code.hidden_tag() }}
                {{ form_code.csrf_token }}

    {% for field in form_code if field.name not in ['csrf_token', 'submit'] -%}
        <br>
         {{ field.label() }}
         {% if field.errors %}
                   {{ field(class="invalid") }}
         <span class="invalid-feedback">
                   {% for e in field.errors %}
                   {{ e }}
                   {% endfor %}
         </span>
         {% else %}
                   {{ field() }}
         {% endif %}
    {% endfor %}
    <br>

    {{ form_code.submit( class="common_btn") }}


</form>
{% endblock %}