
body {
    font-family: 'Arial';
    margin: 0px;
    padding 0px;
    height: 100%;
    width: 100%;
    background-color: #E5F3CF;
}

.mainmenu {
    background: #C0362C;
    height: 60px;
    margin: 0;
    font-size: 20px;
    overflow: hidden;
}

.block {
    float: left;
    height: 60px;
    padding: 20px 30px 20px 30px ;

}
.block:hover {
    background: #FF8642;
    color: #C0362C;
}

a {
    color: #B1DDA1;
    text-decoration: none;
}

.content {
    margin: 20px;
    color: black;
}

.between_hr {
    margin: 20px 0px 30px 0px;
}

hr {
  border: 1.25px solid #668B3C;
  border-radius: 1px;
}

.form-contact label {
         display: inline-block;
         min-width: 80px;
}

.form-contact p {margin: 10px 0 10px 0;}
.form-contact input[type=submit], textarea {
         font-size: 16px;
}

.flash {padding: 10px;}
.flash.success {
         border: 1px solid #21DB56;
         background: #AEFFC5;
}
.flash.error {
         border: 1px solid #FF4343;
         background: #FF9C9C;
}


ul.list-posts {
         list-style: none;
         margin: 0;
         padding 0;
         max-width: 600px;
}
ul.list-posts li {
         margin: 20px 0 0 0;
         border: 1.5px solid #668B3C;

}
.my_a{
    color: #668B3C;
}
.my_a:hover{
    color: #FF8642;
}

ul.list-posts .title {
         margin: 0;
         padding: 10px;
         background: #B1DDA1;
}

ul.list-posts .annonce {
         margin: 0;
         padding: 10px;
         background: #E5F3CF;
}

.profile-ava {
         width: 130px;
         text-align: center;
         overflow: hidden;
         background: #eee;
         padding: 10px;
}

.profile-ava img {max-width: 150px; height: auto;}

.profile-load {
         margin-top: 10px;
         overflow: hidden;
         max-width: 150px;
}
.profile-load input[type=submit], input[type=file] {
         width: 100%;
         font-size: 18px;
}
.profile-load p {
         padding: 0;
         margin: 5px 0 0 0;
}

.profile-panel {padding: 0 0 0 10px;}
ul.profile-info {
         list-style: none;
         margin: 10px 0 0 0;
         padding: 0;
         color: #7E652F;
}
ul.profile-info li {margin-top: 10px;}

.form-contact .invalid {
         background: #FF9898;
}
.form-contact .invalid-feedback {
         color: #CC0000;
}