

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #343a40;
  height: 60px;
  z-index: 9999;
  font-color: #17a2b8;
}

.mainmenu {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow: hidden
  color: #17a2b8;
}

.block {

  float: left;
  height: 20px;
  padding: 20px;
  color: #17a2b8;
  background-color: #343a40;
}

.block:hover {
  height: 20px;
  background: #868e96;
  color: #f8f9fa;
}

.content {
  margin: 80px 20px 20px 20px;
  color: #333;
}
.ask_content {
    margin: 60px 0px 0px 0px;
    color: #333;

}

@media screen and (max-width: 720px) {
  .block {
    width: 100%;
  }

  .content {
    margin: 260px 20px 20px 20px;
  }

  .ask_content {
    margin: 300px 0px 0px 0px;

  }
}








a {
  color: #007bff;
  text-decoration: none;
}



.between_hr {
  margin: 20px 0 30px 0;
}

hr {
  border: 1.25px solid #adb5bd;
  border-radius: 1px;
}

.form-contact label {
  display: inline-block;
  min-width: 80px;
  margin-bottom: 10px;
}

.form-contact p {
  margin: 10px 0;
}

.form-contact input[type="submit"],
.form-contact textarea {
}

.flash {
  padding: 10px;
  margin: 10px 0px 0px 0px ;
  border-radius: 10px;
}

.flash.success {
  border: 1px solid #28a745;
  background: #d4edda;

}

.flash.error {
  border: 1px solid #dc3545;
  background: #f8d7da;
}


ul.list-posts {
  list-style: none;
  margin: 0;
  padding: 0;

}

ul.list-posts li {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

ul.list-posts .title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

ul.list-posts .annonce {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #777;
}
ul.list-comments {
  list-style: none;
  margin: 0;
  padding: 0;


}

ul.list-comments li {
  margin: 10px 0;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

ul.list-comments .title {
  margin: -15px 0 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

ul.list-comments .annonce {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #555;
}



.my_a {
  color: #333;
}
.main_a {
  color: #adb5bd;
}

.my_a:hover {
  color: #ff8642;
}
.main_a:hover {
  color: #ff8642;
}

.profile-table {
  border: none;
}

.profile-ava img {
  max-width: 100%;
  height: auto;
    max-width: 130px;
}

.profile-load {
  margin-top: 10px;
    max-width: 130px;
}

.profile-load input[type="submit"] {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  max-width: 130px;
}
.profile-load input[type="file"] {
    max-width: 100px;
}
my_load_form input {
    max-width: 100px;
}


.choose_btn {
    max-width: 130px;
}


.profile-panel {
  padding: 10px;
}

.profile-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-info li {
  padding-top: 5px;
  padding-bottom: 5px;
}


.form-contact .invalid {
  background: #ff9898;
}

.form-contact .invalid-feedback {
  color: #cc0000;
}

:root {
  --primary-colour: #f8f9fa;
  --secondary-colour: hsl(38 90% 55%);
  --star-colour: hsl(38 90% 55%);
}

.my_label {
  margin-right: 5px;
}

.container {
  background: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.container .container__items {
  display: flex;
  align-items: left;
  justify-content: left;
  gap: -50px;
}

.container .container__items input {
  display: none;
}

.container .container__items label {
  aspect-ratio: 1;
}

.container .container__items label .star-stroke {
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  background: var(--secondary-colour);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.container .container__items label .star-stroke .star-fill {
  width: 60%;
  aspect-ratio: 1;
  background: var(--primary-colour);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.container .container__items input:hover ~ label .star-stroke,
.container .container__items input:checked ~ label .star-stroke {
  background: var(--star-colour);
}

.container .container__items input:checked ~ label .star-stroke .star-fill {
  background: var(--star-colour);
}

.comment_container {
  background: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.comment_stars_background{
    background: #f5f5f5;
    padding: 3px 0px 0px 0px ;
}

.stars_under_comment {
  gap: -120px;

}

.my_label_under_comment {
  margin: 0px -55px -55px 5px;
  padding: 0;
  height: 30px;
}

.container_under_comment {
  background: #f8f9fa;
  margin: 0;
  padding: 30px 0 -40px 0;
  float: left;
  transform: translate(0%, 0%) rotateY(180deg);
}

.my_btn {
  background-color: #f5f5f5;
  border-color: #f8f9fa;
  color: #6c757d;
  border-radius: 10px;
  padding: 7px 20px;
  font-size: 16px;
  border-style: outset;

}

.my_btn:hover {
    border-style: inset;
}
.my_btn:active {
    border-style: outset;
}


.choose_file_label{
    background-color: #f5f5f5;
    color: #6c757d;
    border-radius: 10px;
    padding: 7px 20px;
    border: 2px solid #f8f9fa;
    border-style: outset;
    font-size: 16px;
    cursor:pointer;
}

.choose_file_label:active{
    border-style: inset;
}

.my_iframe{
	margin: 0%;
    display:inline-block;

    position: absolute;
    width: 100%;
    height: 100%;

}

.mfk_on_main_page:hover{
    box-shadow: none;
    border-radius: 10px;
}



